@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: all 1s ease-in-out;
}

ul {
  list-style: none;
}
::-webkit-scrollbar {
  width: 0px;
}
@font-face {
  font-family: cairo;
  src: url(../public/fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
body {
  font-family:"cairo", Arial, Helvetica, sans-serif;
  direction: rtl
}
.main-button{
  background-color: #5c70d6;
  text-align: start ;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}
.form-container,.way-container,.about-container,.login-container,.signup-container{
  background-size: cover;
  background-position: center;
}
.form-container{
  background-image: url(../public/asset/hero.jpg);
}
.way-container{
  background-image: url(../public/asset/way.jpg);
}
.about-container{
  background-image: url(../public/asset/about.jpg);
}
.login-container{
  background-image: url(../public/asset/login.jpg);
}
.signup-container{
  background-image: url(../public/asset/signup.jpg);
}
input{
  border: none;
  outline: none;
}
input:focus{
  outline: none;
}
.service-box{
  transition: all 0.4s ease-in-out;
}
.service-box:hover{
  background-color: #2d3d8a;
  color: #FFF;
}
.service-box:hover .service-icon{
  color: #FFF;
}
.sharpGradient{
  background: linear-gradient(to top ,#2d3d8a 0%,#2d3d8a 50% ,#FFF 50%,#FFF 50% )
}
@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1400px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .main-prop{
    @apply py-14
  }
}
